<mat-accordion>
    <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      Search Account
    </mat-expansion-panel-header>
<div class="container">
<form  #accountSearch = "ngForm" (ngSubmit) = "onClickSubmit(accountSearch.value)">
  <div class="row">
    <div class="col-6"
    >
    <div class="form-group">
        <label for="">Account Number</label>
        <input type="text" name="accountNumber" [(ngModel)]="accountNumber" class="form-control">
        
        </div></div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Account Name</label>
            <input type="text" name="accountName" [(ngModel)]="accountName" class="form-control">
            
            </div>
    </div>
  </div>

<div class="row">
 
  <div class="col-6">
      <div class="form-group">
          <label for="">Account Open date</label>
          <input type="date" name="accountOpenDate" [(ngModel)]="accountOpenDate" class="form-control">
          
          </div>
  </div>
  <div class="col-6">
    <div class="form-group">
        <label for="">Account Close date</label>
        <input type="date" name="accountCloseDate" [(ngModel)]="accountCloseDate" class="form-control">
        
        </div>
 </div>
</div>
  
   <div class="row">
   
     <div class="col-6">
      <div class="form-group">
          <label for="">Account Type</label>
          <input type="text" name="accountType" [(ngModel)]="accountType" class="form-control">
          
          </div>
  </div>
   </div>
     
<!-- <div class="form-group"> 
<input type="submit" value="Search" >

</div> -->
<div class="form-group">
  <button type="submit" class="btn btn-primary btn-block searchButton" >Search</button>
</div>

</form>
</div>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  
<mat-table #table [dataSource]="dataSource" matSort> 

  <ng-container matColumnDef="acctno">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </mat-header-cell>
    <mat-cell *matCellDef="let account"> 
    
       
       <a routerLink="/accountDetailSearch/{{account.acct_No}}/{{account.acct_Key}}" 
       (click)="addLink('/accountDetailSearch/'+account.acct_No+'/'+account.acct_Key)">{{account.acct_No}}</a>
       </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acctnm">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{account.acct_Name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accttydesc">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Account Type</mat-header-cell>
    <mat-cell *matCellDef="let account"> {{account.acct_Type_Desc}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acctopdate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Account open date </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{account.acct_Open_Date|date:'MM/dd/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acctcldate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Account close date </mat-header-cell>
    <mat-cell *matCellDef="let account"> {{account.acct_Close_Date|date:'MM/dd/yyyy'}} </mat-cell>
  </ng-container>
 
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div>
</mat-expansion-panel>
</mat-accordion>