
<button class="btn btn-outline-secondary m-3">Transaction in Brief</button>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="ACCTNO" >
      <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="alertF(element[0])"> {{element[0]}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="TTRN">
      <mat-header-cell *matHeaderCellDef> Transaction reference number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[1]}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="CFDATEKEY">
      <mat-header-cell *matHeaderCellDef> Transaction Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[2]}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="CFCURRAMT">
      <mat-header-cell *matHeaderCellDef> Transaction Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[3]}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="transaction_cdi_desc">
      <mat-header-cell *matHeaderCellDef>Transaction Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[4]}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="RTTDS">
      <mat-header-cell *matHeaderCellDef> Transaction Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[5]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
