<mat-accordion *ngIf="dataSource">

    <mat-expansion-panel expanded='true'>
      <mat-expansion-panel-header>
          Transaction in Brief
      </mat-expansion-panel-header>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="acct_Key" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="alertF(element.acct_Key)"> {{element.acct_Key}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="trans_Ref_No">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction reference number </mat-header-cell>
      <mat-cell *matCellDef="let element">  <a routerLink="/TransactionDeatil/{{element.trans_Ref_No}}" appAddTab path="/TransactionDeatil/{{element.trans_Ref_No}}">{{element.trans_Ref_No}}</a> </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="trans_Desc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.trans_Desc}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ccy_Amt" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ccy_Amt}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date_Key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date_Key}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="trans_Cr_Db_Ind_Desc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.trans_Cr_Db_Ind_Desc}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div>
</mat-expansion-panel>
</mat-accordion>