<div class="title py-4">
 <p>Attatchments</p>
</div>
<!-- <div class="row">
<div class="form-group col-3 center-text">
  <label for="exampleInputFile">Single</label>
  <div class="singleFile">
  <input type="file" class="form-control-file" name="singleFiles" #ff  >
</div>
</div>
</div> -->
<div class="containerUpload">
<div class="row py-4">
  <div class="form-group col-12 center-text">
    <!-- <label for="exampleInputFile">Multiple</label> -->
    <div class="singleFile">
    <input type="file" class="form-control-file" name="MultipleFiles" #files  multiple >
  </div>

</div>
<div class="col-12">
  <button type="button" class="btn btn-success" (click)="uploadAll()">Upload All</button>
  <button type="button" class="btn btn-danger" (click)="removeAll()">Remove All</button>
</div>
</div>
<div class="row">
  <div class="col-3">
    <h6>Description</h6>

  </div>
  <div class="col-9">
<!-- <textarea name="Description" id="" cols="30" rows="1"></textarea>     -->
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a description" [(ngModel)]="description"></textarea>
</mat-form-field>
  </div>
</div>
</div>
<mat-divider></mat-divider>

<div class="title">
  <h5>Attatchments</h5>
</div>
<mat-divider></mat-divider>

<div class="container" *ngFor="let x of attachments" >
  <div class="row comment" >
    <div class="col-12">
<h4>{{x.userview.displayName}}</h4>
    </div>

  <div class="col-8">
      <h5>{{x.description}}</h5>
  </div>


<div class="col-4">
{{x.uploadDate |date:'medium' }}

</div>
<div class="col-10" *ngIf="x.attachment">
  <div *ngFor="let a of x.attachment" class="row">
   <div class="col-3"> <p (click)="downloadFile(a.fileName)"><mat-icon>attach_file</mat-icon> {{a.fileName}}</p></div>
   <div class="col-9">

     <p (click)="deleteAttachment(a.id)"><mat-icon>delete</mat-icon></p>
   </div>
  
  </div>

</div>

  </div>


</div>