.singleFile{
    padding: 12px;
    /* border-radius: 12px;
    border: 1px solid grey; */
}
.title
{
    background-color: #ddd;
    width: 100%;


}
.title p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-left: 16px
    
}
.field:hover{
    background-color: #ddd;
}
.containerUpload
{
    margin-top: 5px;
    background-color: white;
    padding: 16px 12px;
}