
<form #f="ngForm" (ngSubmit)="ff(f.value)" *ngIf="group">
  <div class="form-group">
    <label>Group Name</label>
  </div>
  <mat-form-field  *ngIf="group" class="form-control">

    <input matInput placeholder={{group.name}} name="name" ngModel>


  </mat-form-field>

  <div class="example-container mat-elevation-z8" *ngIf="group">
<h1 *ngIf="group.capabilities.length>0">Group Capabilities</h1>
      <mat-table #table [dataSource]="group.capabilities" matSort *ngIf="group.capabilities.length>0">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
            <mat-cell *matCellDef="let alarm"> {{alarm.name}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
            <mat-cell *matCellDef="let alarm"> {{alarm.description}} </mat-cell>
          </ng-container>
    
    
    
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </mat-row>
        </mat-table>
    <br>
    <h1>Remaining Capabilities</h1>

    <mat-table #table [dataSource]="capabilities" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()" [indeterminate]="selection2.hasValue() && !isAllSelected2()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null" [checked]="selection2.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <!-- <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
      <mat-cell *matCellDef="let alarm"> {{alarm.id}} </mat-cell>
    </ng-container> -->

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{alarm.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{alarm.description}} </mat-cell>
      </ng-container>




      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </mat-row>
    </mat-table>

  </div>
  <div class="form-group py-3">
    <input type="submit" value="updateGroup" class="form-control btn" style="background: #1976d2;color: #FFF">
  </div>
</form>
