<!--  -->
<mat-accordion >
  <mat-expansion-panel expanded=true>
  <mat-expansion-panel-header>
      Transaction Detail
    </mat-expansion-panel-header>
    <mat-card class="example-card">
        <mat-card-header>
          
          <!-- <mat-card-title>Transaction Detail</mat-card-title> -->
         
        </mat-card-header>
        <img mat-card-image src="assets\images\transaction.png" >
       <mat-card-content>
         
      
      
      <h6>Transaction reference number:{{result[0]['trans_Ref_No']}}</h6>
      
      <h6>Transaction Description:{{result[0]['trans_Desc']}}</h6>
      <h6>Transaction Amount::{{result[0]['ccy_Amt']}}</h6>
      <h6>Transaction Type:{{result[0]['trans_Cr_Db_Ind_Desc']}}</h6>
      <h6>Channel:{{result[0]['mech_Desc']}}</h6>
      <h6>Transaction Currency Name:{{result[0]['curr_Name']}}</h6>
      <h6>Transaction Currency Code:{{result[0]['curr_Cd']}}</h6>
      <h6>Amount in base currency:{{result[0]['ccy_Amt_In_Trans_Ccy']}}</h6>
      <h6>Amount in account currency:{{result[0]['ccy_Amt_In_Acct_Ccy']}}</h6>
      <h6>Associate Name:{{result[0]['emp_FName']}}</h6>
      <h6>Associate Number:{{result[0]['emp_No']}}</h6>
      
      <h6>Account Number:{{result[0]['acct_Key']}}</h6>
      <h6>Secondary account Number:{{result[0]['sec_Acct_Key']}}</h6>
      <h6>Remitter Name:{{result[0]['remitter_Name']}}</h6>
      <h6>Remitter Number:{{result[0]['remitter_Number']}}</h6>
      <h6>Beneficiary Name:{{result[0]['beneficiary_Name']}}</h6>
      <h6>Beneficiary Number:{{result[0]['beneficiary_Number']}}</h6>
      <h6>Transaction Date:{{result[0]['date_Key']}}</h6>
      <h6>Branch Name:{{result[0]['branch_Name']}}</h6>
      <h6>Branch Number:{{result[0]['branch_No']}}</h6>
      <h6>Country Name:{{result[0]['cntry_Name']}}</h6>
      <h6>Country Code:{{result[0]['cntry_CD_3']}}</h6>
      
        </mat-card-content>
      
      </mat-card>
      
  </mat-expansion-panel>
</mat-accordion>

<!--  -->

