
<mat-toolbar #img class="topbar">
  <div class="topbar-left">
    <div class="logo" *ngIf="isOn">
      <h1>
        <a>
          <img src="./assets/images/logo.png" alt="Logo">
        </a>
      </h1>
    </div>
    <!-- class="mat-button-menu button-menu-mobile" -->
    <button mat-icon-button (click)="changeIsOn()" >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="section2">
    <div>
      <h1  class="ProductName"><strong style="font-weight:700;">DataGear</strong>  Anti-Money Laundering</h1>
    </div>
    <div class="optionsc">
      <div >
      <i class="fa fa-bell notification">

          <!-- <i class="notificationValue">4</i> -->
      </i>
     
      <i class="fa fa-expand" style="margin-left: 15px;" id="fg"  onclick="maxWindow()"></i>
     
    </div >
      <div >
      <button mat-button [matMenuTriggerFor]="menu">
      
        <img src="./assets/images/users/avartar3.png" class="rounded-circle"  height="40">
         Eman Gaafar
      
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <span>My Profile</span>
        </button>
        <button mat-menu-item>
          <span>Account Setting</span>
        </button>
        <button mat-menu-item>
          <a (click)="authService.logout()" class="md-trigger" data-modal="logout-modal">
            <i class="icon-logout-1"></i> Logout</a>
        </button>
      </mat-menu>
    </div>
      <!--  -->
      <div>
      <button mat-button [matMenuTriggerFor]="menu2">
        English<mat-icon>language</mat-icon>
        </button>
        <mat-menu #menu2="matMenu" overlapTrigger="false">
          <button mat-menu-item>
            <span>English</span>
          </button>
          <button mat-menu-item>
            <span>Arabic</span>
          </button>
       
        </mat-menu>
      </div>
<!--  -->

    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav [mode]="mode.value" opened>
    <div class="clearfix"></div>
    <hr class="divider">
    <div class="clearfix"></div>
    <div class="profile-image-min" *ngIf="!isOn">
      <a href="#" class="rounded-image profile-image">
        <img src="./assets/images/users/avartar3.png">
      </a>
    </div>
    <div class="profile-info row" *ngIf="isOn">
      <div class="col-4">
        <a href="#" class="rounded-image profile-image">
          <img src="./assets/images/users/avartar3.png">
        </a>
      </div>
      <div class="col-8">
        <div class="profile-text">Welcome
          <b>Eman Gaafar</b>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr class="divider">
    <div class="clearfix"></div>

    <mat-nav-list>
      <mat-list-item>
        <a routerLink="suspects">
          <mat-icon>people</mat-icon>
          <span *ngIf="isOn"> Suspects</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a>
          <mat-icon>people</mat-icon>
          <span *ngIf="isOn"> Risk Profiling</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a>
          <mat-icon>assignment</mat-icon>
          <span *ngIf="isOn"> Regulatory Reports </span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!isOn" (click)="changeIsOn();fffv.expanded='true'">
        <mat-icon>search</mat-icon>
      </mat-list-item>

      <mat-accordion *ngIf="isOn" displayMode="flat" >
        <mat-expansion-panel #fffv >
          <mat-expansion-panel-header class="accordion1">
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <a routerLink="account">account</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink="alarm">Alarm</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink="party">Party</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink="external">External Party</a>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <mat-list-item >
        <a>
          <mat-icon>settings</mat-icon>
          <span *ngIf="isOn"> Administration</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

