<mat-toolbar #img class="topbar" *ngIf="authService.userName">
  <!--ngIf="authService.userName"-->
  <div class="topbar-left">
    <div class="logo" *ngIf="isOn">
      <h1>
        <a>
          <img src="./assets/images/logo.png" alt="Logo">
        </a>
      </h1>
    </div>
    <!-- class="mat-button-menu button-menu-mobile" -->
    <button mat-icon-button (click)="changeIsOn()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="section2">
    <div>
      <h1 class="ProductName">
        <strong style="font-weight:700;">DataGear</strong> Anti-Money Laundering</h1>
    </div>
    <div class="optionsc">
      <div>
        <i class="fa fa-bell notification notify" id="Notification1" style="cursor: pointer;" (click)="show_noti=!show_noti;stopNotificationAnimation()">
          <i class="notificationValue" [innerHtml]="notifications.length" (change)="ffff()"></i>


          <div class="noti-block" *ngIf="show_noti">
            <!--*ngFor="let n of notifications"-->
            <h2 style="padding: 12px 12px 0;font-size: 15px;border-bottom: 1px solid hsla(210,3%,87%,.45);color: #29303b;background-color: #fff;position: relative;">Notifications</h2>
            <mat-list role="list" style="background-color: white;padding: 0;" class="scrollNotification">

              <mat-list-item *ngIf="notifications.length<=0" style="height: auto" role="listitem" class="notificationDetail">
                <p>No Notification Available</p>
              </mat-list-item>
              <mat-list-item style="height: auto" role="listitem" (click)="sendNoti(x,index)" *ngFor="let x of notifications.slice().reverse();let index=index  "
                class="notificationDetail">
                <div [ngSwitch]="x.action">
                  <p *ngSwitchCase="'take-ownership-suspect'">
                  {{x.create_User_Name}}{{"take-ownership-suspect"|translate}} {{"on"|translate}}{{x.alarmed_Obj_Name}}

                  </p>
                  <p *ngSwitchCase="'close-suspect'">
                      {{x.create_User_Name}}{{"close-suspect"|translate}} {{"on"|translate}}{{x.alarmed_Obj_Name}}
                  </p>
                  <p *ngSwitchCase="'suppress-suspect'">
                      {{x.create_User_Name}}{{"suppress-suspect"|translate}} {{"on"|translate}}{{x.alarmed_Obj_Name}}
                  </p>
                  <p *ngSwitchCase="'remove-ownership-suspect'">
                      {{x.create_User_Name}}{{"remove-ownership-suspect"|translate}} {{"on"|translate}}{{x.alarmed_Obj_Name}}
                  </p>
                  <p *ngSwitchCase="'Forward-suspect'">
                {{x.create_User_Name}}{{"Forward-suspect"|translate}} {{"on"|translate}}{{x.alarmed_Obj_Name}}{{"to"|translate}}
                {{x.target_User_Name}}

                  </p>
                  <p *ngSwitchCase="'add-comment-to-suspect'">
                      {{x.create_User_Name}}{{"add-comment-to-suspect"|translate}}  {{x.comment_Decription}} {{"on"|translate}}{{x.alarmed_Obj_Name}}
                  </p>
                  <p *ngSwitchCase="'delete-comment-of-suspect'">
                      {{x.create_User_Name}}{{"delete-comment-of-suspect"|translate}} {{x.comment_Decription}}{{"on"|translate}}{{x.alarmed_Obj_Name}}
                  </p>
                  <p *ngSwitchCase="'Suppress-alarm'">
                      {{x.create_User_Name}}{{"Suppress-alarm"|translate}}{{"on"|translate}}{{x.alarmed_obj_name}}
                  </p>
                  <p *ngSwitchCase="'Close-alarm'">
                      {{x.create_User_Name}}{{"Close-alarm"|translate}}{{"on"|translate}}{{x.alarmed_obj_name}}
                  </p>
                  <p *ngSwitchCase="'take-ownership-risk'">
{{x.create_User_Name}}{{"take-ownership-risk"|translate}}{{"on"|translate}}{{x.cust_Name}}
                  </p>
                  <p *ngSwitchCase="'remove-ownership-risk'">
                      {{x.create_User_Name}}{{"remove-ownership-risk"|translate}}{{"on"|translate}}{{x.cust_Name}}
                  </p>
                  <p *ngSwitchCase="'approve-risk'">
                      {{x.create_User_Name}}{{"approve-risk"|translate}}{{"on"|translate}}{{x.cust_Name}}
                  </p>
                  <p *ngSwitchCase="'decline-risk'">
                      {{x.create_User_Name}}{{"decline-risk"|translate}}{{"on"|translate}}{{x.cust_Name}}
                  </p>
                  <p *ngSwitchCase="'Forward-Risk'">
                      {{x.create_User_Name}}{{"Forward-Risk"|translate}}{{"on"|translate}}{{x.cust_Name}} {{"to"|translate}} {{x.target_Name}}
                  </p>



                  <!-- <p class="noti-desc_ text-truncate">{{x.action}}</p> -->
                  <p style="margin: 0;">{{x.notification_Date |date : "M/d/yy h:mm a"}}</p>
                </div>

              </mat-list-item>

            </mat-list>
            <div class="notit-clear-div" (click)="markAllRead()">
              <span>{{ 'Notification.Mark_All_as_Read' | translate }}</span>
            </div>

            <!-- </div> -->
          </div>
        </i>

        <i class="fa fa-expand full_icon_fg" style="margin-left: 15px;" id="fg" onclick="javascript:toggle_fullscreen()"></i>

      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">

          <img src="./assets/images/users/avartar3.png" class="rounded-circle" height="40">{{authService.userName}}

        </button>
        <mat-menu #menu="matMenu" overlapTrigger="false">
          <button mat-menu-item (click)="updateProfile()" class="select_button"> 
            <span>{{ 'My_Profile' | translate}}</span>
          </button>

          <button mat-menu-item (click)="authService.logout()" class="select_button">
            <a  class="md-trigger" data-modal="logout-modal">
              <i class="icon-logout-1"></i> {{ 'Logout' |translate }}</a>
          </button>
        </mat-menu>
      </div>
      <!--  -->
      <div>
        <button mat-button [matMenuTriggerFor]="menu2">
          <span class="selected_Language">{{ selected_Language | translate }}</span>
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #menu2="matMenu" overlapTrigger="false">
          <!-- <select #langSelect (change)="translate.use(langSelect.value)"> -->
          <!-- <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang"> 
                {{ lang }}  
            </option> -->
          <button mat-menu-item (click)="changeLang2('en');" class="select_button">
            <span>{{ 'en' | translate }}</span>
          </button>
          <button mat-menu-item (click)="changeLang2('ar');" class="select_button">
            <span>{{ 'ar' | translate }}</span>
          </button>
          <!-- </select> -->
        </mat-menu>
      </div>
      <!--  -->

    </div>
  </div>
</mat-toolbar>

<!-- <div dir="rtl"> -->
<mat-sidenav-container class="example-container main_contain" autosize>
  <mat-sidenav #sidenav [mode]="mode.value" opened *ngIf="authService.userName">
    <!--*ngIf="authService.userName"-->
    <div class="clearfix"></div>
    <hr class="divider">
    <div class="clearfix"></div>
    <div class="profile-image-min" *ngIf="!isOn">
      <a href="#" class="rounded-image profile-image">
        <img src="./assets/images/users/avartar3.png">
      </a>
    </div>
    <div class="profile-info row" *ngIf="isOn">
      <div class="col-4">
        <a routerLink="/profile" class="rounded-image profile-image">
          <img src="./assets/images/users/avartar3.png">
        </a>
      </div>

      <div class="col-8">
        <div class="profile-text">{{'right_side_bar.Welcome' | translate}}
          <b>{{authService.userName}}</b>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr class="divider">
    <div class="clearfix"></div>

    <mat-nav-list>
      <mat-list-item (click)="layoutItem($event);navItem('/suspects')" class="mat_item_a" appAddTab path="/suspects">
        <a routerLink="suspects">
          <mat-icon>people</mat-icon>
          <span *ngIf="isOn"> {{ 'right_side_bar.Suspects' | translate}}</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *userHasCapability="'show-risk-profiling-module'" (click)="layoutItem($event);navItem('/risk')" class="mat_item_a" appAddTab path="/risk">
        <a>
          <mat-icon>people</mat-icon>
          <a routerLink="/risk" *ngIf="isOn">{{'right_side_bar.Risk_Profiling' | translate }}</a>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!--  -->
      <mat-list-item *userHasCapability="'show-dashboard'" (click)="layoutItem($event);goTodashboard()" class="mat_item_a">
        <a>
          <mat-icon>dashboard</mat-icon>
          <a  *ngIf="isOn">{{ 'right_side_bar.DashBoard' | translate }}</a>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!--  -->
      <mat-list-item  *userHasCapability="'show-reports'" (click)="layoutItem($event);" class="mat_item_a">
        <a>
          <mat-icon>assignment</mat-icon>
          <span *ngIf="isOn">{{ 'right_side_bar.Regulatory_Reports' | translate }} </span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item *ngIf="!isOn" (click)="changeIsOn();fffv.expanded='true'">
        <mat-icon>search</mat-icon>
      </mat-list-item>

      <mat-accordion *ngIf="isOn" displayMode="flat">
        <mat-expansion-panel #fffv>
          <mat-expansion-panel-header class="accordion1">
            <mat-icon>search</mat-icon>
            <span>Reports</span>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item  class="mat_item_a" appAddTab path="report/sama">
              <a routerLink="report/sama">SAMA Report</a>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>

      <mat-list-item *ngIf="!isOn" (click)="changeIsOn();fffv.expanded='true'">
        <mat-icon>search</mat-icon>
      </mat-list-item>

      <mat-accordion *ngIf="isOn" displayMode="flat" class="fadeAnimation">
        <mat-expansion-panel #fffv>
          <mat-expansion-panel-header class="accordion1">
            <mat-icon>search</mat-icon>
            <span>{{ 'right_side_bar.Search' | translate }}</span>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *userHasCapability="'show-account-search-screen'" (click)="layoutItem($event);navItem('/account')" class="mat_item_a fadeAnimation" appAddTab path="/account">
              <a routerLink="account">{{ 'right_side_bar.Account' | translate }}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *userHasCapability="'show-alarms-search-screen'" (click)="layoutItem($event);navItem('/alarm')" class="mat_item_a fadeAnimation" appAddTab path="/alarm">
              <a routerLink="alarm">{{ 'right_side_bar.Alarm' | translate }}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *userHasCapability="'show-party-search-screen'" (click)="layoutItem($event);navItem('/party')" class="mat_item_a fadeAnimation" appAddTab path="/party">
              <a routerLink="party">{{ 'right_side_bar.Customer' | translate }}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *userHasCapability="'show-search-external-parties-search-screen'" (click)="layoutItem($event);navItem('/external')" class="mat_item_a fadeAnimation" appAddTab path="/external">
              <a routerLink="external">{{ 'right_side_bar.External_Customer' | translate }}</a>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <!-- <mat-list-item (click)="layoutItem($event)" class="mat_item_a">
        <a>
          <mat-icon>settings</mat-icon>
          <span *ngIf="isOn"> Administration</span>
        </a>
      </mat-list-item> -->
      <div *userHasCapability="'adminstration'">
      <mat-list-item *ngIf="!isOn" (click)="changeIsOn();fffv.expanded='true'">
        <mat-icon>group_work</mat-icon>
      </mat-list-item>
    </div>
    <div *userHasCapability="'adminstration'">
      <mat-accordion *ngIf="isOn" displayMode="flat">
        <mat-expansion-panel #fffv>
          <mat-expansion-panel-header class="accordion1">
            <mat-icon>group_work</mat-icon>
            <span>{{ 'right_side_bar.Administration' | translate }}</span>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item (click)="layoutItem($event);navItem('groups')" class="mat_item_a">
              <a routerLink="groups">{{ 'right_side_bar.Group_management' | translate }}</a>
            </mat-list-item>
            <mat-list-item (click)="layoutItem($event);navItem('/user')" class="mat_item_a" appAddTab path="/user">
              <a routerLink="user">
                <span *ngIf="isOn">{{ 'right_side_bar.User' | translate }}</span>
              </a>
            </mat-list-item>
            <!-- <mat-divider></mat-divider> -->
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>
      <!-- <mat-list-item  class="mat_item_a" >
        <a routerLink="groups" >
          <mat-icon>Group</mat-icon>
          <span *ngIf="isOn"> Group</span>
        </a>
      </mat-list-item> -->
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main_middle_content elementToAnimate">
    <nav mat-tab-nav-bar *ngIf="TabService.tabs.length>0">
      <div *ngFor="let link of TabService.tabs" style="display: inline-block">
        <a mat-tab-link [routerLink]="link.path" routerLinkActive #rla="routerLinkActive">
          {{link.label}}

        </a>
        <mat-icon (click)="removeTab(link.path,link.label)">cancel</mat-icon>

      </div>
    </nav>




    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- </div> -->