.mat-button-menu{
    min-width: 56px;
    margin: -16px;
}
mat-sidenav-content {
    height: 100vh;
}
.divA{
    
   
    float:right;
    overflow: hidden;
   
    text-align: right;
    display: flex;
    /* background-color: aqua; */
    
}


 mat-toolbar{
    display: flex;
}

mat-toolbar div{
flex: 1;
}
/* mat-toolbar div:nth-child(1){
    flex: .3;

}   */

    mat-sidenav{
        background-color: aquamarine;
    }