
.mat-sidenav-content {
    height: 100vh;
}
.mat-sidenav{
    background: #22546c;
}
.mat-divider{

  
    display: block;
    clear: both;
    background-color: rgba(255, 255, 255, 0.1);
    background-color:white;
    opacity: 0.3
   
}
.divA{
    float:right;
    overflow: hidden;
    text-align: right;
    display: flex;
    /* background-color: aqua; */
}


.mat-sidenav{
   /* background-color: aqua;  */
    max-width: 280px;
    font-family: "Oswald";
}
.mat-list-item{
    font-family: "Oswald";
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 13px;
    position: relative;
}
.mat-expansion-panel-header{
    background: #22546c;
    font-family: "Oswald";
    font-size: 18px;
    color: #e7e7e7;
    /* text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); */
}
.topbar {

    /* left: 0px; */
    /* right: 0; */
    /* top: 0px; */
    /* height: 50px; */
    /* display: flex; */
    z-index: 11;
    background: #ffffff;
    
    padding-top: 0;
    margin-top: 0;
 
 height: auto;;
   
 
    /* max-height: 50px; */
    /* position: fixed; */
    /* -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2); */
    /* added by dev */
    padding-left: 0px;
}

.topbar .topbar-left {
    /* float: left; */
    display: flex;
    /* height: 50px; */
    /* position: relative; */
    z-index: 1;
    /* width: 280px; */
    background-color: #E4EAE6;
   
    /* width: 344px; */
    padding-right: 10px;
}
.notification{
    position: relative;
  
}
.notificationValue{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
 right:4px;
    top: -13px;;
}

.logo h1 {
    width: 224px;
    margin: 0px auto;
    height: 50px;
    text-align: center;
}

.logo h1 img {
    height: 75%;
}

.button-menu-mobile{
    /* position: absolute; */
    /* right: 0; */
    /* float: left; */
    /* top: 0px; */
    z-index: 2;
    /* padding: 10px 18px; */
    /* height: 50px; */
    /* font-size: 21px; */
    background: transparent;
    color: #888;
    border: none;
}

.mat-button-menu{
    min-width: 56px;
    /* margin: -16px; */
}

.rounded-image {
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
}

.rounded-image img {
    width: 100%;
}

.profile-image {
    border: 4px double rgba(255, 255, 255, 0.2);
}

.profile-text {
    color: #fff;
    font-family: "Oswald";
    font-size: 22px;
}

hr.divider {
    border-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 10px 5%;
    display: block;
    clear: both;

}
.profile-image-min{
    height: 50px; 
    width: 50px;
}
.topbar-profile .topbar-profile-image {
    width: 35px;
    position: relative;
    margin-right: 5px;
    margin-top: -15px;
    margin-bottom: -12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* 
.topbar-profile>a {
    font-family: "Oswald";
} */
 
.mat-nav-list .mat-list-item {
    font-size: 18px;
    color: #e7e7e7;
    /* text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); */
}
.mat-expanded{
    background: #22546c;
}

.mat-expanded .mat-expansion-indicator {
    color: #e7e7e7;
    font-size: 25px;
}
.section2{
    display: flex;
    width: 100%;
  
    font-family: "Oswald";
    color: #505458;
    line-height: 30px;
}
 
.section2 div{
    flex: 2;
    align-self: center;
}
.section2 div:last-child{
    flex: 1;
}
.optionsc{
    display: flex;
    
}
.optionsc div{
    flex: 1;
   
 
}
.optionsc div:last-child{
    flex: .5;
}

.mat-sidenav .mat-expansion-panel-header {
    padding: 0 16px;
}
.mat-sidenav-content{
    background-color: #E4EAE6;
    padding: 16px;
}
.ProductName{
    margin-left: 20px;
    font-family: Oswald;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;   
}
.mat-nav-list .mat-list-item:hover{
    background-color: #4d5252 !important;
  

}
.accordion1:hover{
    background-color: #4d5252 !important;
    
}
/* .topbar-left{
    min-width: 62px;;
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> dcb062410f6fd68e9b7207022ac364bafec9c0f2
}




/* .mat-nav-list[_ngcontent-c1] .mat-list-item[_ngcontent-c1]:hover{
    background-color: #F0843F !important
<<<<<<< HEAD
=======
>>>>>>> updateRiskNames
} */
/* =======
} */
/* .mat-icon{
    margin-top: 10px;
} */


.notification .noti-block{
    stroke: rgb(239, 239, 239);
    visibility: visible;
    top: 37px;
    left: -315px;
    position: absolute;
    z-index: 22;
}
.div2{
    box-sizing: border-box;
    position: absolute;
    display: block;
    border-radius: 8px;
    color: #efefef;
    background-color: #fff;
    max-height: 90vh;
    max-width: 90vw;
    min-height: 40px;
    border: 1px solid currentColor;
    width: 375px;
}
.div2 div{
    top: -24px;
    right: 24px;
    position: absolute;
    fill: currentColor;
    height: 24px;
}