<mat-accordion >

        <mat-expansion-panel  >
          <mat-expansion-panel-header>
                Suspect Detail
          </mat-expansion-panel-header>



<mat-card class="example-card">

    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <h6>Customer name:</h6>{{result.pfnm}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Customer Number:</h6>{{result.pno}}
            </mat-list-item>

            <mat-list-item role="listitem">
                <h6>Address:</h6>{{result.pstadd1}}--{{result.pstadd2}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Date of Birth:</h6>{{result.pbod}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Politically exposed:</h6>{{result.ppepind}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Citizenship:</h6>{{result.pczcocd}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Document:</h6>{{result.pidtyds}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Number:</h6>{{result.pid}}
            </mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Issue Date:</h6>{{result.pidissuedate}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Expiry Date:</h6>{{result.pidexpdate}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Employer Name:</h6>{{result.pascnm}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Occupation:</h6>{{result.pocuds}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Telephone:</h6>{{result.ptel1}}--{{result.ptel2}}--{{result.ptel3}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Current Risk Classification:</h6>{{result.riskClassification}}</mat-list-item>

            <mat-list-item role="listitem">
                <h6>Dealing with the bank since Date:</h6>{{result.pcusdate}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Related Accounts</h6>
                <mat-list role="list" *ngFor="let account of result.corePartyaccountD">
                    <mat-list-item role="listitem">{{account.pacctno}}</mat-list-item>

                </mat-list>

            </mat-list-item>
        </mat-list>

    </mat-card-content>

</mat-card>
</mat-expansion-panel>
</mat-accordion>