<mat-accordion  >

        <mat-expansion-panel  expanded='true'>
          <mat-expansion-panel-header>
                Suspect Detail
          </mat-expansion-panel-header>



<!-- <mat-card class="example-card">

    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <h6>Customer name:</h6>{{result.pfnm}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Customer Number:</h6>{{result.pno}}
            </mat-list-item>

            <mat-list-item role="listitem">
                <h6>Address:</h6>{{result.pstadd1}}--{{result.pstadd2}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Date of Birth:</h6>{{result.pbod}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Politically exposed:</h6>{{result.ppepind}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Citizenship:</h6>{{result.pczcocd}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Document:</h6>{{result.pidtyds}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Number:</h6>{{result.pid}}
            </mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Issue Date:</h6>{{result.pidissuedate}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Identification Expiry Date:</h6>{{result.pidexpdate}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Employer Name:</h6>{{result.pascnm}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Occupation:</h6>{{result.pocuds}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Telephone:</h6>{{result.ptel1}}--{{result.ptel2}}--{{result.ptel3}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Current Risk Classification:</h6>{{result.riskClassification}}</mat-list-item>

            <mat-list-item role="listitem">
                <h6>Dealing with the bank since Date:</h6>{{result.pcusdate}}</mat-list-item>
            <mat-list-item role="listitem">
                <h6>Related Accounts</h6>
                <mat-list role="list" *ngFor="let account of result.corePartyaccountD">
                    <mat-list-item role="listitem" [routerLink]="['/accountDetail',account.pacctno]">{{account.pacctno}} </mat-list-item>

                </mat-list>

            </mat-list-item>
        </mat-list>

    </mat-card-content>

</mat-card> -->

<div class="col-lg-6">
        <!--Card-->
        <div class="card wow fadeIn" data-wow-delay="0.2s">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <!-- <h4 class="card-title">Account Detail</h4> -->
                <!--Text-->
                <div class="card-text">
                    <p>Customer name:{{result.pfnm}}</p>
                    <p>Customer Number:{{result.pno}}</p>
                    <p>Address:{{result.pstadd1}}--{{result.pstadd2}}</p>
                    <p>Date of Birth:{{result.pbod}}</p>
                    <p>Politically exposed:{{result.ppepind}}</p>
                    <p>Citizenship:{{result.pczcocd}}</p>
                    <p>Identification Document:{{result.pidtyds}}</p>
                    <p>Identification Number:{{result.pid}}</p>
                    <p>Identification Issue Date:{{result.pidissuedate}}</p>
                    <p>Identification Expiry Date:{{result.pidexpdate}}</p>
                    <p>Employer Name:{{result.pascnm}}</p>
                    <p>Occupation:{{result.pocuds}}</p>
                    <p>Telephone:{{result.ptel1}}--{{result.ptel2}}--{{result.ptel3}}</p>
                    <p>Current Risk Classification:{{result.riskClassification}}</p>
                
                <p>Dealing with the bank since Date:{{result.pcusdate}}</p>
                <h6>Related Accounts</h6>
                <div  *ngFor="let account of result.corePartyaccountD">
                        <a  [routerLink]="['/accountDetail',account.pacctno,number,obj_key,level_level_code]">{{account.pacctno}} </a>
    
                </div>
                </div>  
                
                
            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>

</mat-expansion-panel>
</mat-accordion>


<!--  -->
