<mat-accordion *ngIf="result"  >

        <mat-expansion-panel  expanded='true'>
          <mat-expansion-panel-header>
                Suspect Detail
          </mat-expansion-panel-header>


<div class="col-lg-6">
        <!--Card-->
        <div class="card wow fadeIn" data-wow-delay="0.2s">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <!-- <h4 class="card-title">Account Detail</h4> -->
                <!--Text-->
                <div class="card-text" >
                    <p>Customer name:{{result.cust_FName}}</p>
                    <p>Customer Number:{{result.cust_No}}</p>
                    <p>Address:{{result.addr_1}}--{{result.addr_1}}</p>
                    <p>Date of Birth:{{result.cust_Birth_Date}}</p>
                    <p>Politically exposed:{{result.political_Exp_Prsn_Ind}}</p>
                    <p>Citizenship:{{result.citizen_Cntry_Cd}}</p>
                    <p>Identification Document:{{result.cust_Ident_Type_Desc}}</p>
                    <p>Identification Number:{{result.cust_Ident_Id}}</p>
                    <p>Identification Issue Date:{{result.cust_Ident_Iss_Date}}</p>
                    <p>Identification Expiry Date:{{result.cust_Ident_Exp_Date}}</p>
                    <p>Employer Name:{{result.empr_Name}}</p>
                    <p>Occupation:{{result.occup_Desc}}</p>
                    <p>Telephone:{{result.tel_No_1}}--{{result.tel_No_2}}--{{result.tel_No_3}}</p>
                    <p>Current Risk Classification:{{result.risk_Class}}</p>
                
                <p>Dealing with the bank since Date:{{result.cust_Since_Date}}</p>
                <h6>Related Accounts</h6>
                <div  *ngFor="let account of result.customerAccount">
                        <a  [routerLink]="['/accountDetail',account.acct_No,obj_key,level_level_code]">{{account.acct_No}} </a>
    
                </div>
                </div>  
                
                
            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>

</mat-expansion-panel>
</mat-accordion>



