<div class="container">
  <div class="full-content-center">
    <p class="text-center">
      <a href="#">
        <img src="assets/images/login-logo.png" alt="Logo">
      </a>
    </p>
    <div class="login-wrap animated flipInX">
      <div class="login-block">
        <!-- <form action="index.html" method="post"> -->
        <form #f="ngForm" (ngSubmit)="signIn(f.value)">
          <div *ngIf="invalidLogin" class="alert alert-danger">
            Invalid username and/or password.
          </div>
          <div class="form-group mb-lg">
            <label>Username</label>
            <div class="input-group input-group-icon">
              <input ngModel name="username" class="form-control input-lg" type="text" dir="ltr">
              <span class="input-group-addon">
                <span class="icon icon-lg">
                  <i class="fa fa-user"></i>
                </span>
              </span>
            </div>
          </div>

          <div class="form-group mb-lg">
            <div class="clearfix">
              <label class="pull-left">Password</label>
              <a href="#" class="pull-right">Forget Password?</a>
            </div>
            <div class="input-group input-group-icon">
              <input ngModel name="password" class="form-control input-lg" type="password">
              <span class="input-group-addon">
                <span class="icon icon-lg">
                  <i class="fa fa-lock"></i>
                </span>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <div class="icheckbox_square-aero" aria-checked="false" aria-disabled="false" style="position: relative;">
                    <input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                    <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                  </div> Remember me
                </label>
              </div>
            </div>
            <div class="col-sm-4 text-right">
              <!-- <button type="submit" class="btn btn-primary hidden-xs">Sign In</button> -->
              <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
            </div>
          </div>
          <p></p>
        </form>
      </div>
    </div>
    <footer>
      Copyright © 2018 - DataGear Anti-Money Laundering.
    </footer>

  </div>
</div>