Routine Name :{{dataSource.routine_Name}}<br>
Routine Description:{{dataSource.acroutine.routine_Desc}}<br>
Run Date:{{dataSource.run_Date}}<br>
alarm message:{{dataSource.actual_Value_Txt}}<br>
<!-- 
<mat-accordion>
<mat-expansion-panel expanded>
<mat-expansion-panel-header>
  Alaram Detail
  </mat-expansion-panel-header>
  

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      
      <ng-container matColumnDef="RoutineName">
        <mat-header-cell *matHeaderCellDef> Routine Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.routine_Name}} </mat-cell>
      </ng-container>
  
   
      <ng-container matColumnDef="RoutineDescription">
        <mat-header-cell *matHeaderCellDef> Routine Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.acroutine.routine_Desc}} </mat-cell>
      </ng-container>
  
    
     
      <ng-container matColumnDef="RunDate">
        <mat-header-cell *matHeaderCellDef> Run Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.run_Date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="alarm message">
          <mat-header-cell *matHeaderCellDef> alarm messageC</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.actual_Value_Txt}} </mat-cell>
        </ng-container>
  
    
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


</mat-expansion-panel>

</mat-accordion> -->
<mat-accordion>
    <mat-expansion-panel  expanded>
    <mat-expansion-panel-header>
      Alarm Transaction Detail
      </mat-expansion-panel-header>
  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource2">
    
      
        <ng-container matColumnDef="acctno">
          <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[0]}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="ttrn">
          <mat-header-cell *matHeaderCellDef> Transaction reference Number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[1]}} </mat-cell>
        </ng-container>
    
     
        <ng-container matColumnDef="cfdatekey">
          <mat-header-cell *matHeaderCellDef>Transaction Date  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[2]}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cfcurramount">
            <mat-header-cell *matHeaderCellDef> Transaction Amount  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[3]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="transaction_cdi_des">
              <mat-header-cell *matHeaderCellDef> Transaction Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element[4]}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ttds">
                <mat-header-cell *matHeaderCellDef> Transaction Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element[5]}} </mat-cell>
              </ng-container>
      
    
        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
      </mat-table>
    </div>
    </mat-expansion-panel>
    </mat-accordion>