<mat-card style="background-color: rgba(0, 0, 0, 0.03)" class="ButtonG">
  <button class="btn btn-primary" (click)="addUser()">
    <i class="fa fa-chain-broken" ></i> {{ 'UserAdministration.Add_New_User' | translate}}</button>
    <button class="btn btn-primary" (click)="enableUser()">
    <i class="fa fa-share" > </i> {{ 'UserAdministration.Enable' | translate }}</button>
  <button class="btn btn-primary" (click)="disableUser()">
    <i class="fa fa-chain"></i> {{ 'UserAdministration.Disable' | translate}}</button>
  <button class="btn btn-primary" (click)="deleteUser()">
    <i class="fa fa-chain-broken" ></i> {{ 'UserAdministration.Delete' | translate }}</button>
</mat-card>

<!-- <span>{{ dataSource.data[0].firstname }}</span> -->

<mat-accordion style="background-color: rgba(0, 0, 0, 0.02)" >
  <mat-expansion-panel expanded='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'UserAdministration.Users' | translate }}
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" 
            [checked]="selection.hasValue() && isAllSelected()" 
            [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell >
          <mat-cell *matCellDef="let row" >
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'UserAdministration.Id' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let user" > {{user.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'UserAdministration.User_Name' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let user" > {{user.username}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'UserAdministration.Display_Name' | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let user" > {{user.displayName}} </mat-cell>
            </ng-container>

        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'UserAdministration.First_Name' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let user" > {{user.firstname}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'UserAdministration.Last_Name' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'UserAdministration.E_mail' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'UserAdministration.Status' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.enabled}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="lastPasswordResetDate"> <!--DatePipe-->
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'UserAdministration.lastPasswordResetDate' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.lastPasswordResetDate|date:'short'}} </mat-cell>
        </ng-container>
 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)" style="cursor: pointer;"></mat-row>
      </mat-table>

      <mat-paginator #paginator 
        [pageSize]="20"
        [pageSizeOptions]="[2,5, 10, 20]"
        [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
</mat-expansion-panel>
</mat-accordion>