<mat-card style="background-color: rgba(0, 0, 0, 0.03)" class="ButtonG">
  <button class="btn btn-primary" (click)="enableUser()">
    <i class="fa fa-share" > </i> Enable</button>
  <button class="btn btn-primary" (click)="disableUser()">
    <i class="fa fa-chain"></i> Disable</button>
  <button class="btn btn-primary" (click)="deleteUser()">
    <i class="fa fa-chain-broken" ></i> Delete</button>
    <button class="btn btn-primary" (click)="addUser()">
    <i class="fa fa-chain-broken" ></i> Add New User</button>
</mat-card>

<!-- <span>{{ dataSource.data[0].firstname }}</span> -->

<mat-accordion style="background-color: rgba(0, 0, 0, 0.02)" >
  <mat-expansion-panel expanded='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Users
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" 
            [checked]="selection.hasValue() && isAllSelected()" 
            [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell >
          <mat-cell *matCellDef="let row" >
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let user" > {{user.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let user" > {{user.firstname}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.lastname}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.enabled}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="lastPasswordResetDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>lastPasswordResetDate </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.lastPasswordResetDate}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row>
      </mat-table>

      <mat-paginator #paginator 
        [pageSize]="20"
        [pageSizeOptions]="[2,5, 10, 20]"
        [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
</mat-expansion-panel>
</mat-accordion>