<!-- -->
<!-- <div dir="rtl"> -->
  <ng-progress></ng-progress>
<mat-card style="background-color: rgba(0, 0, 0, 0.03)" class="ButtonG">
  <button class="btn btn-primary" (click)="openDialog();" *userHasCapability="'forward-risk'">
    <i class="fa fa-share" > </i>{{ 'mainFunctionalities.Forward' | translate }}</button>
  <button class="btn btn-primary" (click)="takeOwnerShip()" *userHasCapability="'take-ownership-risk'">
    <i class="fa fa-chain"></i>{{ 'mainFunctionalities.Take_Ownership' | translate }}</button>
  <button class="btn btn-primary" (click)="removeOwnerShip()" *userHasCapability="'remove-ownership-risk'">
    <i class="fa fa-chain-broken" ></i>{{ 'mainFunctionalities.Remove_Ownership' | translate }}</button>
  <button class="btn btn-primary" (click)="approveRisk()" *userHasCapability="'approve-risk'">
    <i class="fa fa-ban"></i>{{ 'mainFunctionalities.Approve' | translate }}</button>
  <button class="btn btn-primary" (click)="declineRisk()" *userHasCapability="'decline-risk'">
    <i class="fa fa-eye-slash"></i>{{ 'mainFunctionalities.Decline' | translate }}</button>
    <button class="btn btn-primary" (click)="ExportasCSV()">
      <i class="fa fa-eye-slash"></i>{{ 'mainFunctionalities.Export_as_CSV' | translate }}</button>
</mat-card>
<!-- -->
<mat-accordion>
  <mat-expansion-panel expanded>
  <mat-expansion-panel-header class="riskSectionTitle">
  Risk
  </mat-expansion-panel-header>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
<!-- <div class="container"> -->
<!-- <div class="example-container mat-elevation-z8"> -->


  
  <mat-table [dataSource]="dataSource" #sort="matSort" matSort>

     <!-- selection checkbox -->
     <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" 
        [checked]="selection.hasValue() && isAllSelected()" 
        [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell >
      <mat-cell *matCellDef="let row" >
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" >
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <!-- -->

    <ng-container matColumnDef="risk_Assmnt_Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'Risk.Risk_Id' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let risk"> {{risk.risk_Assmnt_Id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cust_Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.customerName' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let risk"> {{risk.cust_Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cust_No">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.customerNumber' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let risk"> {{risk.cust_No}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="risk_Class">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.Current_classification' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let risk"> {{risk.risk_Class}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="proposed_Risk_Class">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.Suggested_classification' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let risk"> {{risk.proposed_Risk_Class}} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="create_Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'Risk.Created_Date' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let risk"> {{risk.create_Date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner_User_Long_Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'Risk.User' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let risk"> {{risk.owner_User_Long_Id}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row>

  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[2,5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

<!-- </div> -->
<!-- </div> -->
</mat-expansion-panel>
</mat-accordion>


<!-- <mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile class="lead">Details</mat-grid-tile>
</mat-grid-list> -->

<!-- <div class="list-group">
  <a href="#" class="list-group-item"> Risk Assisment Id : {{riskId}}</a>
  <a href="#" class="list-group-item">Customer Name : {{customerName}}</a>
  <a href="#" class="list-group-item">Customer Name : {{customerNumber}} </a>
  <a href="#" class="list-group-item">Created Date : {{createDate}} </a>
</div> -->
<br>
<mat-card class="example-card" style="position: inherit">
  <h5 class="riskSectionTitle">
    <!-- <mat-list class="nav-link">
            <a mat-list-item href="risk.component.html" > -->
              {{ 'Risk.General_Information' | translate }}:
              <!-- <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          
    </mat-list> -->
 </h5>

 <mat-card-content>
   

  <h6>{{ 'Risk.Risk ID' | translate }} : <span style="font-weight:normal">  {{this.riskId}}</span></h6>
  <h6>{{ 'Risk.customerName' | translate }} : <span>{{this.customerName}}</span></h6>
  <h6>{{ 'Risk.customerNumber' | translate }} :<span> {{customerNumber}}</span></h6>
  <h6>{{ 'Risk.Current_classification' | translate }} : <span>{{currentClassification}}</span> </h6>
  <h6>{{ 'Risk.Suggested_classification' | translate }} : <span>{{suggestedClassification}}</span> </h6>
  <h6>{{ 'Risk.Created_Date' | translate }} : <span>{{createDate}}</span> </h6>
  <h6>{{ 'Risk.User' | translate }} : <span>{{user}}</span> </h6>


  </mat-card-content>

</mat-card>
<br>
<!-- <mat-list> -->
<!-- <mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile class="lead">Risk Classifier</mat-grid-tile>
</mat-grid-list> -->
<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header class="riskSectionTitle">
        {{ 'Risk.Risk_Classifier' | translate }}
      </mat-expansion-panel-header>
      <mat-table [dataSource]="dataSourceTable2" #sortClassifier="matSort" matSort>

       
          <ng-container matColumnDef="riskClassifierId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.Id' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let class"> {{class.risk_Class_Id}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="riskClassifierName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.Risk_Classifier_Name' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let class"> {{class.risk_Class_Name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="riskClassifierDesc">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Risk.Describition' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let class"> {{class.risk_Class_Desc}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'Risk.Classifier_Wieght' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let class"> {{class.weight}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="classifierThreshold">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'Risk.Classifier_ThreeShold' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let class"> {{class.class_Limit}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="createDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'Risk.Created_Date' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let class"> {{class.create_Date}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumnsforClassfirerTable"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsforClassfirerTable;" (click)="getRecord(row)"></mat-row>
      
        </mat-table>
        
        <mat-paginator #paginatorClassifier
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
</mat-paginator>
      
  </mat-expansion-panel>
</mat-accordion>
<!-- </div> -->
