.container {
  display: flex;
  flex-direction: column;
}
.mat-card-content h6{
  font-weight:bold;
  letter-spacing: 1px;
}
span{
  font-weight:normal;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}
.mat-card-content[_ngcontent-c13] h6[_ngcontent-c13]{
  font: inherit;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 15px;
}
/* .riskSectionTitle{
  font-size: 16px;
font-weight: bold;
color: #22546C;

font-family: inherit;
} */