

<div id="wrapper" >
    <div class="row">
        <div class="col-lg-12">
            <app-top-bar></app-top-bar>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <app-side-menu></app-side-menu>
        </div>

        <div class="col-lg-9"  >
            
            <router-outlet></router-outlet>
        </div>
    </div> 
    <!-- <router-outlet></router-outlet>
    <app-suspects></app-suspects> -->
    <!-- <app-alarm-brief></app-alarm-brief> -->
  <!-- <app-suspect-detail-uipage></app-suspect-detail-uipage> -->
  <!-- <app-suspect-details></app-suspect-details> -->