<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-alaram-search></app-alaram-search> -->
<!-- <app-account-search></app-account-search> -->
<!-- <app-party-search></app-party-search> -->
<!-- <app-external-party-search></app-external-party-search> -->



<!-- 
<a routerLink = "account">Account component</a><br />
<a routerLink = "party">Party component</a><br />
<a routerLink = "alarm">Alaram Search</a><br />
<a routerLink = "external">External search</a><br /> -->

<div id="wrapper" >
    <div class="row">
        <div class="col-lg-12">
            <app-top-bar></app-top-bar>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <app-side-menu></app-side-menu>
        </div>
        <!-- style="margin-top: 70px;" -->
        <div class="col-lg-9"  >
            <!-- <app-main-content></app-main-content> -->
            <router-outlet></router-outlet>
        </div>
    </div>