 
<!-- 
<div id="wrapper" >
    <div class="row">
        <div class="col-lg-12">
            <app-top-bar></app-top-bar>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-2">
            <app-side-menu></app-side-menu>
        </div>

        <div class="col-lg-9 col-md-10">
            
            <router-outlet></router-outlet>
        </div>
    </div>  
     -->
     <!-- <app-account-detail></app-account-detail> -->
    
     <!-- <router-outlet name="first"></router-outlet> -->
    
   <!-- <p class="s" (click)="fhhh($event)">HI</p>

   <p class="s"> kjjkHI</p> -->

   <!-- <app-login></app-login> -->
   <!-- <router-outlet name="start"></router-outlet> -->
    
   <div class="all_container" dir= "{{ 'dir' | translate }}" >
        <app-layout></app-layout>
    </div>   
    <!-- <app-attachment></app-attachment> -->
    <!-- <app-add-group></app-add-group>
    <router-outlet></router-outlet> -->
<!-- <sidenav></sidenav> -->
<!-- <sidenav-autosize-example></sidenav-autosize-example> -->
<!-- <app-section3></app-section3> -->
<!-- <app-risk></app-risk> -->
