.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    max-height: 100%
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    max-height: 100%;
  }
  
  .mat-column-select {
    overflow: visible;
  }
  .ButtonG button{
    
    font-size: 14px;
    

  }