<mat-accordion>
    <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      Search External Party
    </mat-expansion-panel-header>
<div class="container">
  
  <form  #ExternalPartySearch = "ngForm" (ngSubmit) = "onClickSubmit(ExternalPartySearch.value)">
  <div class="form-group">
  <label for="ExtPartynumber">Party Number</label>
  <input type="text" value="" name="ExtPartynumber" [(ngModel)]="ExtPartynumber" class="form-control">
  
  </div>
  
    <div class="form-group">
      <label for="ExtPartyId">Ext Party Id</label>
      <input type="text" value=" "  name="ExtPartyId" [(ngModel)]="ExtPartyId" class="form-control">
      
      </div>
      <div  class="form-group">
        <label for="ExtPartyFullName">Ext Party Full Name</label>
        <input type="text" value=" "  name="ExtPartyFullName" [(ngModel)]="ExtPartyFullName" class="form-control">
        
        </div>
        
          <div  class="form-group">
            <label for="ExtPartyIdCountryCode">Ext Party ID country code</label>
            <input type="text" name="ExtPartyIdCountryCode" [(ngModel)]="ExtPartyIdCountryCode" class="form-control">
            
            </div>
     
  <div class="form-group"> 
  <input type="submit" value="Search" class="btn btn-primary">
  
  </div>
  
  </form>
  </div>
 <div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  
<mat-table #table [dataSource]="dataSource" matSort> 

  <ng-container matColumnDef="expfullnm">
    <mat-header-cell *matHeaderCellDef mat-sort-header>EXT party name </mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expfullnm}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expno">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Ext Party Number </mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expno}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Address</mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expstadd1}}--{{alarm.expstadd2}} </mat-cell>
  </ng-container>
 
  <ng-container matColumnDef="expstcinm">
    <mat-header-cell *matHeaderCellDef mat-sort-header> City Name </mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expstcinm}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expbod">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth </mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expbod}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="expstconm">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Citizenship </mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expstconm}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="expidtyds">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Identification Document</mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expidtyds}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="expid">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Identification Number</mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.expid}} </mat-cell>
  </ng-container>
 
  <ng-container matColumnDef="TEL">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</mat-header-cell>
    <mat-cell *matCellDef="let alarm"> {{alarm.exptel2}} --- {{alarm.exptel1}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator #paginator
  [pageSize]="2"
  [pageSizeOptions]="[2,5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div>

</mat-expansion-panel>
</mat-accordion>
