<div class="container">
  <form  #alarmSearch = "ngForm" (ngSubmit) = "onClickSubmit(alarmSearch.value)">
  <div class="form-group">
  <label for="AlarmId">Alarm ID</label>
  <input type="text" name="AlarmId" [(ngModel)]="AlarmId" class="form-control">
  
  </div>
  <div class="form-group">
    <label for="AlarmStatus">Alarm status</label>
    <!-- <input type="text" name="AlarmStatus" [(ngModel)]="AlarmStatus"> -->
    <select name="AlarmStatus" [(ngModel)]="AlarmStatus" class="form-control">
<option value="act">Active</option>
<option value="cls">closed</option>
<option value="sup">suppressed</option>
<option value=""></option>

    </select>
    </div>
    <div class="form-group">
      <label for="MoneyLaunderingRisk">Money laundering risk</label>
      <input type="text" name="MoneyLaunderingRisk" [(ngModel)]="MoneyLaunderingRisk" class="form-control">
      
      </div>
      <div class="form-group">
        <label for="CreateDate">Create date</label>
        <input type="date" name="CreateDate" [(ngModel)]="CreateDate" class="form-control" >
        
        </div>
        <div class="form-group">
          <label for="RunDate">Run date</label>
          <input type="date" name="RunDate" [(ngModel)]="RunDate" class="form-control">
          
          </div>
          <div class="form-group">
            <label for="ScenarioName">Scenario name</label>
            <input type="text" name="ScenarioName" [(ngModel)]="ScenarioName" class="form-control">
            
            </div>
            <div>
              <label for="ScenarioId">Scenario ID</label>
              <input type="text" name="ScenarioId" [(ngModel)]="ScenarioId" class="form-control">
              
              </div>
  <div class="form-group"> 
  <input type="submit" value="Search">
  
  </div>
  
  </form>
  </div>

  <table  class="table table-striped">
    <tr>
        <th>Alarm ID</th>
        <th>Alarm status</th> 
        <th>Money laundering risk</th>
        <th>Create date</th>
        <th>Run date</th>
        <th>Scenario name</th>
        <th>Scenario ID</th>
      </tr>
  <tr *ngFor="let item of result">
    
    <td>{{item.alarmId}}</td> 
      <td>{{item.alarmStatusCode}}</td>
      <td>{{item.moneyLaunderingRiskScore}}</td> 
    
    
    <td>{{item.createDate}}</td> 
   
    <td>{{item.runDate}}</td>
    <td>{{item.routineName}}</td>
    <td>{{item.routineId}}</td>
  
    
    

  </tr>

</table>

