<div class="user_add_form">
  <h5>Add New User</h5>
    <form [formGroup]="form">
      <div class="container">
        <div class="row">
          <div class="form-group">
            <div class="col-lg-12">
              <mat-form-field>
                <input type = "text" matInput formControlName="firstname" placeholder="First Name" [(ngModel)]="firstname">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <mat-form-field>
                <input type = "text" matInput formControlName="lastname" placeholder="Last Name" [(ngModel)]="lastname">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <mat-form-field>
                <input type = "text" matInput formControlName="username" placeholder="User Name" [(ngModel)]="username">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <mat-form-field>
                <input type = "text" matInput formControlName="DisplayName" placeholder="Display Name" [(ngModel)]="DisplayName">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-lg-12">
              <mat-form-field>
                <input type = "text" matInput formControlName="email" placeholder="E-mail" [(ngModel)]="email">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <mat-form-field>
                <input type = "password" matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-lg-12">
                <button mat-raised-button color="primary" style="width:100%;" (click)="addUser()" [disabled]="!form.valid">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  