<div class="left side-menu">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 435px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 435px;">

      <div class="clearfix"></div>
      <hr class="divider">
      <div class="clearfix"></div>
      <!--- Profile -->
      <div class="profile-info row">
          <div class="col-4">
              <a href="#" class="rounded-image profile-image"><img src="./assets/images/users/avartar3.png"></a>
          </div>
          <div class="col-8">
              <div class="profile-text">Welcome <b>Eman Gaafar</b></div>
          </div>
      </div>
      <!--- Divider -->
      <div class="clearfix"></div>
      <hr class="divider">
      <div class="clearfix"></div>
      <!--- Divider -->
      <div id="sidebar-menu">
          <ul>
              <li><a href="index.html" class="active"><i class="icon-users-1"></i><span> Suspects</span></a></li>

              <li><a href="#"><i class="icon-vcard"></i><span> Risk Profiling</span></a></li>

              <li><a href="#"><i class="icon-clipboard"></i><span> Regulatory Reports</span></a></li>

              <li><a href="#"><i class="icon-search-1"></i><span> Search</span></a></li>
              <div id="accordion">
              <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" routerLink="#collapseOne">
                            Search
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                      <div class="card-body">
                            <a routerLink = "account">Account component</a><br />
                            <a routerLink = "party">Party component</a><br />
                            <a routerLink = "alarm">Alaram Search</a><br />
                            <a routerLink = "external">External search</a><br />                            
                      </div>
                    </div>
                  </div>
                </div>
              <li><a href="#"><i class="icon-cog-2"></i><span> Administration</span></a></li>

          </ul>
          <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div><br><br><br>
  </div><div class="slimScrollBar" style="background: rgb(122, 134, 143) none repeat scroll 0% 0%; width: 5px; position: absolute; top: -404px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; left: 1px; height: 435px; visibility: visible;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; left: 1px;"></div></div>

</div>