<div class="forwardContainer">
  <div class="titles">
   <h5>Forward Suspect Data</h5>
   <h6 *ngIf="data['selected'].length>1">Forward {{numSuspected}} suspected</h6>
   <h6 *ngIf="data['selected'].length==1">Forward: {{data["selected"][0]["cust_Name"]}}</h6>
 </div>
   <p>Select User:</p>
   <div class="form-group">
       <label for="exampleSelect1">Forward to:</label>
       <!-- <select class="form-control" id="exampleSelect1" [(ngModel)]="name" >  -->
         <!-- <option>Hussien</option>
         <option>MFarag</option>
         <option>Eman gaafar</option>
         <option>Ahraf</option>
         <option>Naji</option> -->
         <!-- <mat-form-field>
             <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
           </mat-form-field>
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let user of users">{{user}}
           </mat-option>
         </mat-autocomplete> -->
         <form class="example-form">
             <mat-form-field class="example-full-width">
               <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  [(ngModel)]="name">
               <mat-autocomplete #auto="matAutocomplete">
                 <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                   {{ option }}
                 </mat-option>
               </mat-autocomplete>
             </mat-form-field>
           </form>
           
       <!-- </select> -->
     </div>
 <div>
 <button class="btn btn-danger" (click)="cancel()">Cancel</button>
 <button class="btn btn-success" (click)="forward()">Forward</button>
 </div>
 </div>
 